In [6]:
import pandas as pd
import gower
from sklearn.cluster import DBSCAN

In [45]:
df = pd.read_csv("CombinedBooksClass.csv")
df = df.loc[:,"Author Average Rating":"Raters"]
df

,Author Average Rating,Author Votes,Review Count,Distinct Works,Year,Rating,Raters
0,4.07,1258005,85585,large,old,4.09,large
1,3.99,4447186,273761,medium,new,3.99,large
2,3.76,41079,5356,very small,new,3.76,large
3,4.12,210117,18190,very small,new,4.12,large
4,4.10,8007938,201434,large,old,4.19,large
...,...,...,...,...,...,...,...
1723,4.23,353862,48530,small,new,4.10,large
1724,3.87,15137,1503,medium,new,2.86,small
1725,3.88,1385551,106047,medium,new,3.96,large
1726,4.28,448442,25874,small,old,4.29,large
1727,3.58,6388,851,very small,new,2.58,small

In [46]:
distance_matrix = gower.gower_matrix(df)
distance_matrix

array([[0.        , 0.33790696, 0.33026087, ..., 0.30271736, 0.17290953,
        0.5283519 ],
       [0.33790696, 0.        , 0.22497652, ..., 0.04676019, 0.36795932,
        0.42306754],
       [0.33026087, 0.22497652, 0.        , ..., 0.17821632, 0.33362538,
        0.19809103],
       ...,
       [0.30271736, 0.04676019, 0.17821632, ..., 0.        , 0.33276972,
        0.37630734],
       [0.17290953, 0.36795932, 0.33362538, ..., 0.33276972, 0.        ,
        0.5317164 ],
       [0.5283519 , 0.42306754, 0.19809103, ..., 0.37630734, 0.5317164 ,
        0.        ]], dtype=float32)

In [47]:
dbscan_cluster = DBSCAN(eps=0.3, min_samples=2, metric="precomputed")

dbscan_cluster.fit(distance_matrix)
df["cluster"] = dbscan_cluster.labels_

In [48]:
df

,Author Average Rating,Author Votes,Review Count,Distinct Works,Year,Rating,Raters,cluster
0,4.07,1258005,85585,large,old,4.09,large,0
1,3.99,4447186,273761,medium,new,3.99,large,0
2,3.76,41079,5356,very small,new,3.76,large,0
3,4.12,210117,18190,very small,new,4.12,large,0
4,4.10,8007938,201434,large,old,4.19,large,0
...,...,...,...,...,...,...,...,...
1723,4.23,353862,48530,small,new,4.10,large,0
1724,3.87,15137,1503,medium,new,2.86,small,0
1725,3.88,1385551,106047,medium,new,3.96,large,0
1726,4.28,448442,25874,small,old,4.29,large,0
1727,3.58,6388,851,very small,new,2.58,small,0

In [49]:
df.to_csv("DBSCAN.csv", index = False)